header {
  background-color: lightblue;
  font-size: 30px;
}
.section-1 {
  backgeround-color: red:
}
.section-2 {
  backgeround-color: blue:
}

.section-1 p {
  font 20px;
}

section {
  height: 200px;
  width: 800px;
}
